.header{

    background-color: var(--mainclr)

}

 .navbar a {
    position: relative;
    font-size: 18px;
    color:#fff;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none; 

}
.navbar a::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
}
.nv-success::before{
    background: #198754 !important;
}
.nv-danger::before{
    background: #DC3545 !important;
}
.navbar a:hover::before{
    width: 100%;
}
